boto3
requests
pytest
awesome-slugify
clickclick
connexion==1.1.4
dataclasses==0.7
datetime_truncate
Flask-Cache>=0.13.1
Flask-limiter==0.9.4
limits==1.4.1
Flask-Migrate==2.0.4
Flask-OAuthlib==0.9.4
Flask-Session==0.3.1
Flask-SQLAlchemy==2.2
flask==0.12.4
gevent==1.2.2
ItsDangerous==0.24
jsonschema<3.0.0
oauthlib<3.0.0
opentracing-utils
opentracing>=1.2.2,<2
psycogreen
psycopg2
python-dateutil==2.6.0
redis==2.10.5
requests-oauthlib==1.1.0
stups-zign
swagger-spec-validator==2.1.0
zmon-cli
